{% extends "money_nexus/base.html" %}
{% block content %}
    <div class="row">
        <button class="btn btn-primary" data-toggle="modal" data-target="#transaction-dialog">New Transaction</button>
        {% include "transactions/transaction-dialog.html" %}
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Category</th>
                    <th scope="col">Note</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in all_transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.category.name }}</td>
                        <td>{{ transaction.note }}</td>
                        <td>
                            <button class="btn btn-outline-danger fas fa-edit"></button>
                            <button class="btn btn-outline-danger fas fa-trash"
                                    onclick="deleteTransaction({{ transaction.id }})"></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function deleteTransaction(id) {
            const request = new XMLHttpRequest();
            request.open("POST", "delete/" + id);
            request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            request.send();
        }
    </script>
{% endblock %}
