{% extends "money_nexus/base.html" %}
{% block content %}
    <div id="transactions">
        <div class="modal fade" id="transaction-dialog" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{% url 'transactions' %}" method="post">
                        {% csrf_token %}
                        <input type="text" hidden name="id" :value="transactionInDialog.id">
                        <div class="modal-body">
                            <div class="from-row my-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="incoming" name="outgoing"
                                           class="custom-control-input"
                                           value="false" :checked="!transactionInDialog.outgoing">
                                    <label class="custom-control-label" for="incoming">Incoming</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="outgoing" name="outgoing"
                                           class="custom-control-input" value="true"
                                           :checked="transactionInDialog.outgoing">
                                    <label class="custom-control-label" for="outgoing">Outgoing</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="tax-relevant">
                                    <label class="custom-control-label" for="tax-relevant">Tax relevant</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="amount">Amount</label>
                                    <input type="number" step=".01" class="form-control" id="amount" name="amount"
                                           :value="transactionInDialog.amount">
                                </div>
                                <div class="form-group col-5">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" id="date" name="date"
                                           :value="transactionInDialog.date">
                                </div>
                                <div class="form-group col-3">
                                    <label for="time">Time</label>
                                    <input type="time" class="form-control" id="time" name="time"
                                           :value="transactionInDialog.time">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="form-control" name="category">
                                    <option v-for="category in categories" :value="category.id"
                                            :selected="transactionInDialog.category_id === category.id">
                                        [[category.name]]
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="note">Note <small>(optional)</small></label>
                                <input type="text" class="form-control" id="note" name="note"
                                       :value="transactionInDialog.note">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#transaction-dialog"
                        @click="setTransactionInDialog(-1)">
                    New Transaction
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Category</th>
                        <th scope="col">Note</th>
                        <th scope="col">Tax relevant</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date | date:'d.m.Y' }} - {{ transaction.time | date:'H:i' }}</td>
                            {% if transaction.outgoing %}
                                <td><span class="badge badge-pill badge-danger">Outgoing</span></td>
                            {% else %}
                                <td><span class="badge badge-pill badge-success">Incoming</span></td>
                            {% endif %}
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.category.name }}</td>
                            <td>{{ transaction.note }}</td>
                            <td><i class="fas fa-check"></i></td>
                            <td>
                                <a class="fas fa-edit mr-2" href="#" data-toggle="modal"
                                   data-target="#transaction-dialog"
                                   @click="setTransactionInDialog({{ transaction.id }})">
                                </a>
                                <form action="{% url 'transactions_delete' %}" method="post">
                                    {% csrf_token %}
                                    <input hidden name="id" value="{{ transaction.id }}">
                                    <a class="fas fa-trash" href="#" type="submit"></a>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#transactions",
            delimiters: ["[[", "]]"],
            data: {
                transactionIdInDialog: -1,
                transactions: {{ transactions_json | safe }},
                categories: {{ categories_json | safe }},
                transactionInDialog: {}
            },
            methods: {
                setTransactionInDialog: function (transactionId) {
                    if (transactionId >= 0) {
                        this.transactionInDialog = this.transactions.find(transaction => transaction.id === transactionId)
                    } else {
                        this.transactionInDialog = this.createNewTransaction()
                    }
                },
                createNewTransaction: function () {
                    return {
                        id: -1,
                        amount: 1,
                        date: new Date().toISOString().substring(0, 10),
                        time: new Date().toISOString().substring(11, 16),
                        note: "",
                        outgoing: true
                    }
                }
            }
        });
    </script>
    <style>
        td > form {
            display: inline;
        }
    </style>
{% endblock %}