{% extends "money_nexus/base.html" %}
{% block content %}
    <div id="transactions">
        <div class="modal fade" id="transaction-dialog" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{% url 'transactions' %}" method="post">
                        {% csrf_token %}
                        <input v-if="transactionInDialog.id" type="text" hidden name="id"
                               :value="transactionInDialog.id">
                        <div class="modal-body">
                            <div class="from-row my-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="incoming" name="outgoing"
                                           class="custom-control-input"
                                           value="false" :checked="!transactionInDialog.outgoing">
                                    <label class="custom-control-label" for="incoming">Incoming</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="outgoing" name="outgoing"
                                           class="custom-control-input" value="true"
                                           :checked="transactionInDialog.outgoing">
                                    <label class="custom-control-label" for="outgoing">Outgoing</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="tax-relevant">
                                    <label class="custom-control-label" for="tax-relevant">Tax relevant</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="amount">Amount</label>
                                    <input type="number" step=".01" class="form-control" id="amount" name="amount"
                                           :value="transactionInDialog.amount">
                                </div>
                                <div class="form-group col-5">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" id="date" name="date"
                                           :value="transactionInDialog.date">
                                </div>
                                <div class="form-group col-3">
                                    <label for="time">Time</label>
                                    <input type="time" class="form-control" id="time" name="time"
                                           :value="transactionInDialog.time">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="note">Note <small>(optional)</small></label>
                                <input type="text" class="form-control" id="note" name="note"
                                       :value="transactionInDialog.note">
                            </div>
                            <span>Tags</span>
                            <div class="form-row mt-2">
                                <div v-for="tag in tags" class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" :id="id(tag)" name="tags[]"
                                           :value="tag.id" :checked="hasTag(transactionInDialog, tag)">
                                    <label class="custom-control-label" :for="id(tag)">[[ tag.name ]]</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#transaction-dialog"
                        @click="setTransactionInDialog()"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Note</th>
                        <th scope="col">Tax relevant</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date | date:'d.m.Y' }} - {{ transaction.time | date:'H:i' }}</td>
                            {% if transaction.outgoing %}
                                <td><span class="badge badge-pill badge-danger">Outgoing</span></td>
                            {% else %}
                                <td><span class="badge badge-pill badge-success">Incoming</span></td>
                            {% endif %}
                            <td>{{ transaction.amount }}</td>
                            <td>
                                <a href="#" class="badge badge-secondary">Tag1</a>
                                <a href="#" class="badge badge-secondary">Tag2</a>
                                <a href="#" class="badge badge-secondary">Tag3</a>
                            </td>
                            <td>{{ transaction.note }}</td>
                            <td><i class="fas fa-check"></i></td>
                            <td>
                                <button class="btn btn-link btn-sm fas fa-edit" data-toggle="modal"
                                        data-target="#transaction-dialog"
                                        @click="setTransactionInDialog({{ transaction.id }})">
                                </button>
                                <form action="{% url 'transactions_delete' %}" method="post">
                                    {% csrf_token %}
                                    <input hidden name="id" value="{{ transaction.id }}">
                                    <button class="btn btn-link btn-sm fas fa-trash-alt" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#transactions",
            delimiters: ["[[", "]]"],
            data() {
                return {
                    transactions: {{ transactions_json | safe }},
                    tags: {{ tags_json | safe }},
                    transactionInDialog: {}
                }
            },
            methods: {
                setTransactionInDialog(transactionId) {
                    if (transactionId) {
                        this.transactionInDialog = this.transactions.find(transaction => transaction.id === transactionId)
                    } else {
                        this.transactionInDialog = this.createNewTransaction()
                    }
                },
                createNewTransaction() {
                    return {
                        id: undefined,
                        amount: 1,
                        date: new Date().toISOString().substring(0, 10),
                        time: new Date().toISOString().substring(11, 16),
                        note: "",
                        outgoing: true
                    }
                },
                id(tag) {
                    return `tag-${tag.id}`
                },
                hasTag(transaction, tag) {
                    const tagIds = transaction.tags
                    return tagIds && tagIds.some(id => id === tag.id)
                }
            }
        });
    </script>
    <style>
        td > form {
            display: inline;
        }
    </style>
{% endblock %}