{% extends "money_nexus/base.html" %}
{% block content %}
    <div class="container">
        <h1>New Tag</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
            </div>
            <div class="form-group">
                <label for="description">Description <small>(optional)</small></label>
                <textarea name="description" id="description" class="form-control" rows="5">{{ description }}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
        <br>
        <h2>Available Tags</h2>
        <ul>
            {% for tag in tags %}
                <li>
                    <a href="?name={{ tag.name }}&description={{ tag.description }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
