{% extends "money_nexus/base.html" %}
{% block content %}
    <h1>Categories</h1>
    <hr>
    <div class="row" id="categories">
        <div class="col-2">
            <button class="btn btn-primary btn-sm btn-block mb-1" data-toggle="modal" data-target="#new-category-dialog">
                New
            </button>
            <ul class="list-group">
                <li v-for="category in categories" class="list-group-item">[[ category.name ]]</li>
            </ul>
        </div>
        <div class="col-10">
            Right
        </div>
    </div>

    {% include "categories/category-dialog.html" %}

    <script>
        new Vue({
            delimiters: ["[[", "]]"],
            el: "#categories",
            data: {
                categories: {{ categories | safe }}
            },
            methods: {
                showDescription: function () {
                    return false;
                }
            }
        })
    </script>
{% endblock %}